<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>NetEase FED-List</title>
<link rel="author" href="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!--link rel="stylesheet" href="<%= relativePath %>css/style.css"-->
<link rel="stylesheet" href="<%= relativePath %>css/main.css">
<script src="<%= relativePath %>js/modernizr.js"></script>
</head>

<body>
<div class="flexChild rowParent">
    <aside class="flexChild sidebar">
        <div class="branding">
            <a href="<%= relativePath %>index.html">
                <span class="logo"></span>
            </a>
        </div>
        <ul class="accordion">
            <% tags.forEach(function(category) { %>
            <li>
                <h3 <%- category === route.category ? 'class="active"' : '' %>><%= category.name %><span class="link-icon" data-icon="d"></span></h3>
                <ul class="sub" <%- category === route.category ? 'style="display: block"' : '' %>>
                    <% category.children.forEach(function(tag) { %>
                    <li><a href="<%= relativePath %>tags/<%= tag.name %>.html" <%- tag === route.tag ? 'class="current"' : '' %>><%= tag.name %></a></li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
            <li>
                <h3 class="modal-toggle">显示全部<span class="link-icon" data-icon="n"></span></h3>
            </li>
        </ul>
    </aside>